@media screen and (min-width: 1000px){
    .sidebar{
     background-color:#343d46; 
     /*background-color:#eee; */
     position: absolute;
     width: 29rem;
     height: 100%;
     left: 0%;
     top: 5%;
     display: block !important; 
    }

    .sidebar ul{

        list-style-type: none;
        padding: 0;
    }

    .sidebar li{

         padding: 15px;
         border-bottom: solid 1px #eee;
         /*background-color: #ddd;*/
         background-color: #343d46;
    }
    
    .sidebar li:hover{
        
        background-color: #gray;
        box-shadow: 0 4px gray;
        transition: 0.5s;
        margin: 1%;
    }
    .sidebar li a{
        
         text-decoration: none;
         /*color: #333;*/
         color: #ebebeb;
    }
    
    
}